/* 
BEM naming convention
  Block: 'card'
  Element: 'card__text' or 'card__image'
  Modifiers (modifies original css / modification to a block): 'card--black'

Try to nest as little as possible, each element should have its own class
*/


:root {
    /* colors bg */
    --color-bg-dark: #1F2937;
    --color-bg-light: #FFF;
    --color-bg-grey: #E5E7EB;
    /* colors fg */
    --color-fg-light-pri: #F9FAF8;
    --color-fg-light-sec: #E5E7EB;
    --color-fg-dark-pri: #1F2937;
    --color-fg-dark-sec: #54595f;

    /* other colors */
    --color-action: #3882F6;
    --color-image-placeholder: #6D747D;
    
    /* width of shown content */
    --width-content: 900px;
    --padding-content: 0px 8px 0px 8px;
}



body {
    margin: 0;
    min-height: 100vh;
    font-family: Roboto;
}

/* HEADER */
.header {
    background: var(--color-bg-dark);
    height: 50px;
    padding: var(--padding-content);
    /* as flex parent: */
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.header__box {
    /* as flex child */
    flex-basis: var(--width-content);
    /* as flex parent: */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__box__logo {
    color: var(--color-fg-light-pri);
    font-size: 24px;
    font-weight: 600;
}

.header__box__list {
    list-style-type: none;
    margin: 0;
    /* as flex parent */
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.header__box__list li a {
    text-decoration: none;
    color: var(--color-fg-light-sec);
    font-size: 18px;
    font-weight: 300;
}

/* HERO */
.hero {
    background: var(--color-bg-dark);
    height: 470px;
    padding: var(--padding-content);
    /* as flex parent */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__box {
    /* as flex child */
    flex-basis: var(--width-content);
    /* as flex parent */
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.hero__box__text {
    flex: 1;
}

.hero__box__image {
    flex: 1;
    background: var(--color-image-placeholder);
    color: var(--color-fg-light-sec);
    /* as flex child */
    align-self: stretch;

    /* as flex parent */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__box__text h1 {
    color: var(--color-fg-light-pri);
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.hero__box__text h3 {
    color: var(--color-fg-light-sec);
    font-size: 18px;
    font-weight: 300;
}

.hero__box__text button {
    background-color: var(--color-action);
    color: var(--color-fg-light-pri);
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 10px 0 0 0;
}

/* INFO */
.info {
    background: var(--color-bg-light);
    height: 470px;
    padding: var(--padding-content);
    /* as flex parent */
    display: flex;
    justify-content: center;
}

.info__box {
    /* as flex child */
    flex-basis: var(--width-content);
    /* as flex parent */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__box__title {
    padding-top: 16px;
    /* as flex child */
    flex: 1;
    /* as flex parent */
    display: flex;
    justify-content: center;
    align-items: center;

}

.info__box__sect {
    padding: 20px 50px;
    /* as flex child */
    flex: 3;
    /* as flex parent */
    display: flex;
    gap: 30px;
}

.info__box__title h2 {
    color: var(--color-fg-dark-pri);
    font-size: 36px;
    font-weight: 900;

}

.card {
    /* as flex parent */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.card__border {
    flex-basis: 130px;
    border: 3px solid var(--color-action);
    border-radius: 15px;
}

.card__text {
    text-align: center;
    font-size: 17px;
    color: var(--color-fg-dark-sec);

}

/* QUOTE */
.quote {
    background: var(--color-bg-grey);
    height: 400px;
    padding: var(--padding-content);
    /* as flex parent */
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote__box {
    /* as flex child */
    flex-basis: var(--width-content);
    /* as flex parent */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote__box__quote {
    padding: 0 50px;
    color: var(--color-fg-dark-pri);
    font-size: 36px;
    font-weight: 200;
    font-style: italic;

}

.quote__box__author {
    padding: 10px 50px 0 50px;
    color: var(--color-fg-dark-pri);
    font-size: 24px;
    font-weight: 600;
    text-align: right;
}


/* SIGNUP */
.signup {
    background: var(--color-bg-light);
    height: 300px;
    /* as flex parent */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.signup__box {
    background-color: var(--color-action);
    border-radius: 10px;
    /* as flex child */
    flex-basis: var(--width-content);
    /* as flex parent */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup__box__left,
.signup__box__right {
    padding: 50px 80px;
}

.signup__box__left__title {
    color: var(--color-fg-light-pri);
    font-size: 20px;
    font-weight: 600;
}

.signup__box__left__text {
    color: var(--color-fg-light-sec);
    font-size: 16px;
    font-weight: 400;
    padding-top: 6px;

}

.signup__box__right__button {
    background-color: var(--color-action);
    color: var(--color-fg-light-pri);
    font-size: 16px;
    font-weight: 600;
    border: solid;
    border-color: var(--color-fg-light-pri);
    padding: 10px 30px;
    border-radius: 5px;
    margin: 10px 0 0 0;
}

/* FOOTER */
.footer {
    background: var(--color-bg-dark);
    height: 70px;
    /* as flex parent */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__text {
    color: var(--color-fg-light-sec);
    font-size: 16px;
}